.body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    height: 100%;
    /*border-style: double;*/
    /*border-color: yellow;*/

}
.page-header {
    /*border-style: double;*/
    /*border-color: #c61b21;*/
    height: auto;
    width: 100%;
    background-color: #edc85a;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: inline-block;
    position: relative;
    left: 0;
}

.img_python {
    /*border-image: url(/mysite/static/python_logo.jpg);
   /* background-image: url(static/python_logo.jpg);*/
   /* border-style: double;*/
   /* border-color: #bb2020;*/
    float: left;
    height: 8%;
    width: 8%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: inline-block;
    position: relative;
    top: 1%;
    left: 0;
}
/*
.img_background {
    opacity: 0.3;
    background-size: contain;
    background-origin: initial;
    width: 1920px;
    height: 1080px;}*/



.page-header h1 {
    /*border-style: double;*/
    /*border-color: #bb2020;*/
    color: #0067c4;
    /*float: left;*/
    font-size: 32pt;
    font-weight: bolder;
    text-decoration: none;
    height: auto;
    width: auto;
    margin: 10px 20px 20px 0;
    /*padding: 0 0 0 0;*/
    display: block;
    /*position: relative;*/
    /*left: 0;*/
    /*top: 0.5%;*/
        /*  background-image: url('/mysite/static/images/background1.jpg');
    background-origin: content-box;*/
}

.page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #0067c4;
    /*border-style: double;*/
    /*border-color: #bb2020;*/
    /*float: left;*/
    font-size: 100%;
    font-weight: bolder;
    text-decoration: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    height: auto;
    width: auto;
    display: inline-block;
    position: relative;
    left: 1%;
    top: 5%;

}

.content {
    /*margin-left: 70px;*/
    width: 90%;
 /*   border-style: double;
    border-color: #c52ce7;*/
    display: inline-block;
    padding: 5% 0 0 0;
    margin: auto 0 0 0;
}

.row {
 /*   border-style: double;
    border-color: #81ef0e;*/
    width: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;

}

.col-md-8 {
    width: 100%;
 /*   border-style: double;
    border-color: #0e12ef;*/
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
    color: #05994c;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 80%;
    height: 100%;
    margin: 0 0 10px 90px;
    padding: 0 0 0 0;
    /*border-style: dot-dash;*/
    /*border-color: #05994c;*/
}
.post-form-a1  {
    color: #05994c;
    margin: 50px 50px 20px 10px;
    padding: 50px 0 0 0;
    position: relative;
    top: 20px;
}

.post-form-a2  {
    color: #05994c;
    margin: 0 0 0 10px;
    padding: 0 0 0 0;
    position: relative;
    bottom: 160px;
}

.top-menu, .top-menu:hover, .top-menu:visited  {
    /*border-style: double;*/
    /*border-color: #1aaa81;*/
    color: #0067c4;
    float: right;
    font-size: 18pt;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: inline-block;
    height: auto;
    width: 20%;
    position: relative;
    left: 0;
    top: 50%
}

.post {
    width: 90%;
    font-size: 15pt;
    margin: 0 0 70px 50px;
    box-sizing: border-box;
 /*   border-style: double;
    border-color: #2ce7e7;*/



}

.post h1 a, .post h1 a:visited {
    color: #05994c;

}

.comment {
    margin: 20px 0 20px 20px;
    border-style: double;
    border-color: #d92347;
}
.top-menu-but-new {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    float: right;
    position: relative;
    right: 4%;
    top: 2%;
    font-size: 24px;
}

.top-menu-but-draft {
    border: none;
   /* color: #74177d;*/
    text-align: center;
    float: right;
    text-decoration: none;
    display: inline-block;
    position: relative;
    right: 0;
    bottom: 55px;
    font-size: 22px;
}

.save-btn-btn-default {
    position: relative;
    float: right;
    bottom: 10%;
    font-size: 15px;
    margin: 5px 0 5px 0;
}
/*
.post_text {
    border-style: double;
    border-color: #d92347;
}*/